
<section id="register">
     <div class="overlay"></div>
	<div class="container">
		<div class="row">

            <div class="wow col-md-6 col-sm-5 col-xs-10 col-xs-offset-1 col-sm-offset-0" data-wow-delay="0.2s">
                <p>This is a test</p>
            </div>

            <!--TODO:
                * Load price
                * Load features
            -->


		</div>
	</div>
</section>